

{% extends 'base.html' %}


{% block background %}
<link href="../static/resources/Hplus-v.3.2.0/css/index.css" rel="stylesheet">
{% endblock %}


{% block page_content %}
        <div class="col-sm-5">
            <form action="{{ url_for('assess') }}" id="loginForm", method="POST">
                <h4 class="no-margins">输入学号</h4>
                <input type="text" class="form-control uname" name="username" id="number" placeholder="学号" required=""/>
                <input type="password" class="form-control pword m-b" name="password" id="password" placeholder="密码"
                       required=""/>
                <div id="errorDiv" style="color:red;font-family:monospace;font-size:small"/>


                <button id="loginBtn" class="btn btn-success btn-block">登录</button>
            </form>
        </div>
{% endblock %}
