[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.5"

[packages]
requests = "*"
pyquery = "*"
selenium = "*"
flask = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
mysqlclient = "*"
flask-login = "*"
uwsgi = "*"

[dev-packages]
